{% extends "layout.html" %} 
{% set active_page = "invoices" %}
{% block content %} 
{% for row in outString1 %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata pb-2">
      <a class="mr-2" href="{{ url_for('treat', TreatmentID=row.TreatmentID, AppointmentID=row.AppointmentID, DoctorID=row.DoctorID) }}">Doctor ID: {{ row['DoctorID'] }}</a>
    </div>
    <div class="article-metadata pt-2">
      <div class="d-flex justify-content-between">
        <div>
          <a href="{{ url_for('patient', patientssn=row.PatientSSN) }}">
            <p>
              <strong>Patient Name: {{row['FirstName']}} {{row['LastName']}}</strong>
            </p>
          </a>
        </div>
        <div>
          <p class="text-right">
            <a href="{{ url_for('doctor', DoctorID=row.DoctorID) }}">
              Doctor Name: {{row['FirstName'], row['LastName']}}
            </a>
          </p>
        </div>
      </div>
    </div>
      <p>
        <strong>Treatment Cost: ${{row['TreatmentCost']}}</strong>
      </p>
    </div>
  </div>
</article>
{% endfor %} {% endblock content %}
