{% extends "layout.html" %}
{% block content %}
    <h5>Number of Doctors: {{count}}</h5>
    <hr>
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('doctor', DoctorID=row.DoctorID) }}">Doctor ID: {{ row['DoctorID'] }}</a>		  
              <small class="text-muted">Speciality: {{ row['Speciality'] }}</small>		  
            </div>
			      <h2>
              <a class="article-title" href="{{ url_for('doctor', DoctorID=row.DoctorID) }}">{{ row['FirstName'] }} {{ row['LastName'] }}</a></h2>
          </div>
        </article>
     {% endfor %}
{% endblock content %}