{% extends "layout.html" %} 
{% set active_page = "invoices" %}
{% block content %} 
{% if info %}
{% for row in info %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="/doctorinfo/{{row[0]}}">Doctor ID: {{ row[0] }}</a>
    </div>
    <div class="article-metadata pt-2">
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-right">
            <a href="/doctors/{{row[0]}}">
              <strong>Doctor Name: {{row[2]}} {{row[3]}}</strong>
            </a>
          </p>
        </div>
        <div>
          <p>
            <strong>Number of Patients: {{row[1]}}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endfor %}
{% endif %}
{% endblock content %}
