{% extends "layout.html" %} 
{% set active_page = "treats" %}
{% block content %} 
{% for row in outString %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a
        class="mr-2"
        href="{{url_for('treat', TreatmentID=row.TreatmentID, AppointmentID=row.AppointmentID, DoctorID=row.DoctorID)}}"
      >
        Treatment ID: {{ row['TreatmentID'] }}, Appointment ID: {{row['AppointmentID']}}, Doctor ID: {{row['DoctorID']}}
      </a>
    </div>
    <h4>
      <a
        class="article-title"
        href="{{ url_for('treat', TreatmentID=row['TreatmentID'], AppointmentID=row['AppointmentID'], DoctorID=row['DoctorID']) }}"
      >
        {{ row['Description'] }}
      </a>
    </h4>
  </div>
</article>
{% endfor %} {% endblock content %}
