{% extends "layout.html" %}
{% set active_page = "treatmentplans" %} 
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">Treatment ID: {{ treatmentplan.TreatmentID }}</a>
      <small class="text-muted"></small>

      <div>
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{{ url_for('update_treatmentplan', TreatmentID=treatmentplan.TreatmentID) }}"
          >Update</a
        >
        <button
          type="button"
          class="btn btn-danger btn-sm m-1"
          data-toggle="modal"
          data-target="#deleteModal"
        >
          Delete
        </button>
      </div>
    </div>

    <p>Treatment Cost: ${{ treatmentplan['TreatmentCost'] }}</p>
    <p>
      Is Trauma? {% if treatmentplan['Is_Trauma'] == 1 %} True {% else %} False {% endif %}
      {% if treatmentplan['Is_Trauma'] == 1 %}
        <br />Measures taken: {{treatmentplan ['Measures_taken']}}
      {% endif %}
    </p>
    <p>
      Is Councelling? {% if treatmentplan['Is_Councelling'] == 1 %} True {% else %} False {% endif %}
      {% if treatmentplan['Is_Councelling'] == 1 %}
        <br />Councelling Feedback: {{treatmentplan ['Councelling_Feedback']}}
      {% endif %}
    </p>
    <p>
      Is Therapy? {% if treatmentplan['Is_Therapy'] == 1 %} True {% else %} False {% endif %}
      {% if treatmentplan['Is_Therapy'] == 1 %}
        <br />Therapy Outcome: {{treatmentplan ['Therapy_Outcome']}}
      {% endif %}
    </p>
    <p>
      Is Medication: {% if treatmentplan['Is_Medication'] == 1 %} True {% else %} False {% endif %}
      {% if treatmentplan['Is_Medication'] == 1 %}
        <br />Medicine Name: {{treatmentplan ['Medicine_name']}}
        <br />Dosage: {{treatmentplan ['Dosage']}}
      {% endif %}
    </p>
  </div>
</article>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Doctors?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form
          action="{{ url_for('delete_treatmentplan', TreatmentID=treatmentplan.TreatmentID) }}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
