{% extends "layout.html" %}
{% set active_page = "treatmentplans" %}
{% block content %}
    <h5>Number of Treatment Plans: {{count}}</h5>
    <hr>
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('treatmentplan', TreatmentID=row.TreatmentID) }}">Treatment ID: {{ row['TreatmentID'] }}</a>		  
              <small class="text-muted">Treatment Cost: {{ row['TreatmentCost'] }}</small>		  
            </div>
            <a href="{{ url_for('treatmentplan', TreatmentID=row.TreatmentID) }}">
              Click to view more information about this treatment plan.
            </a>
          </div>
        </article>
     {% endfor %}
{% endblock content %}