{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Treatment ID: {{ treat.TreatmentID }}, Appointment ID: {{treat.AppointmentID}}, Doctor ID: {{treat.DoctorID}}</a>
        <small class="text-muted"></small>

          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_treat', TreatmentID=treat.TreatmentID, AppointmentID=treat.AppointmentID, DoctorID=treat.DoctorID) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
 
      </div>

      <h4>
        <a href="{{ url_for('treatmentplan', TreatmentID=treatment.TreatmentID) }}">Treatment Plan: {{ treatment['TreatmentID'] }} </a>
      </h4>
      <h4>
        <a href="{{ url_for('appointment', AppointmentID=treat.AppointmentID) }}">Appointment #{{ treat['AppointmentID'] }}</a>
      </h4>
      <h4>
        <a href="{{ url_for('patient', patientssn=appointment.PatientSSN) }}">Patient: {{ appointment['FirstName'] }} {{ appointment['LastName'] }}</a>
      </h4>
      <h4>
        <a href="{{ url_for('doctor', DoctorID=doctor.DoctorID) }}">Doctor: {{ doctor['FirstName'] }} {{ doctor['LastName'] }}</a>
      </h4>
      <p>Treatment Description: {{ treat['Description'] }}</p>

    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete this treatment log?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_treat', TreatmentID=treat.TreatmentID, AppointmentID=treat.AppointmentID, DoctorID=treat.DoctorID) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}